/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f5ec;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    background-color: #1a5a72;
    color: #f5f1e7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #f5f1e7;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo Principal */
main {
    padding: 40px;
    text-align: center;
}

h1 {
    color: #1a5a72;
    font-size: 36px;
    margin-bottom: 40px;
}

/* Grid de pratos */
.cardapio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.prato {
    background-color: #f7f1e2;
    border: 2px solid #1a5a72;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prato:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.prato img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.prato h2 {
    margin: 10px 0;
    font-size: 26px;
    color: #08445ac2;
}

.prato p {
    font-size: 18px;
    color: #555;
}

/* Botão */
.prato button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #08445ac2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prato button:hover {
    background-color: #063b50;
}

/* Estilos do Modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro com transparência */
    text-align: center;
}

.modal-conteudo {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
